@page "/DeleteEmployee/{Id}"
@using EmployeeCrudBlazor.Data
@inject EmployeeService employeeService
@inject NavigationManager NavigationManager

<h3>DeleteEmployee</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Id" class="control-label">Employee No</label>
                <label>@obj.Id</label>
               
            </div>
            <div class="for-group">
                <label for="FirstName" class="control-label">First Name</label>
                <label>@obj.FirstName</label>
            </div>
            <div class="for-group">
                <label for="MiddleName" class="control-label">Middle Name</label>
                <label>@obj.MiddleName</label>
            </div>
            <div class="for-group">
                <label for="LastName" class="control-label">Last Name</label>
                <label>@obj.LastName</label>
            </div>
            <div class="for-group">
                <label for="Email" class="control-label">Email Address</label>
                <label>@obj.EmailAddress</label>
            </div>
            <div class="for-group">
                <label for="PhoneNumber" class="control-label">Phone Number</label>
                <label>@obj.PhoneNumber</label>
            </div>
            <div class="for-group">
                <label for="PostalCode" class="control-label">Postal Code</label>
                <label>@obj.PostalCode</label>
            </div>
            <div class="for-group">
                <label for="Address" class="control-label">Address</label>
                <label>@obj.Address</label>
            </div>
            <div class="for-group">
                <label for="City" class="control-label">City</label>
                <label>@obj.City</label>
            </div>
            <div class="for-group">
                <label for="Designation" class="control-label">Designation</label>
                <label>@obj.Designation</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@DeleteEmployeeRecord" value=" Delete Employee" />
                <input type="button" class="btn btn-outline-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string Id { get; set; }
    Employee obj = new Employee();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => employeeService.GetEmployeeById(Convert.ToInt32(Id)));
    }

    protected async void DeleteEmployeeRecord()
    {
        await employeeService.DeleteEmployee(obj);
        NavigationManager.NavigateTo("Employees");
    }
    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Employees");
    }

}
